.section {
  box-sizing: border-box;
  margin:0;
  position:relative;
  width:100%;
  z-index:1100;

  a {
    color:$color-primary-red-full;
    text-decoration: none;
  }
}

.section-dark {
//  background-color:$color-background-section;
  @include section-bg-color(1);
  color:#fff;
}

.section-white {
  background-color:rgba(255,255,255,.7);
  color:#000;
}

.section-pad {
  padding-top:50px;
  padding-bottom:50px;
}

#contact {
  background-color:#fff;
  min-height:200px;
  color:#000;
}

@media screen and (max-width: 767px) {
  #my-work {
    .portfolio {
      .portfolio-item {
        max-width:350px;
      }
    }
  }

}
